vaadin-button {
  --lumo-primary-text-color: white;
  --vaadin-button-background: black;
  --vaadin-button-border-radius: 40px;
  --vaadin-button-padding: 20px;
}

vaadin-split-layout> [slot="primary"]{
  position: relative;
}

vaadin-button.nowy{
  position: absolute;
  right:50px;
}

vaadin-grid::part(header-cell){
   background-color:black;
   color:white;

}

vaadin-grid::part(selected-row-cell){
  background-color: hsla(0, 0%, 0%, 0.1)
}

vaadin-horizontal-layout.akcje{
  margin: 20px 0 0;
}

vaadin-text-field::part(input-field) {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: var(--lumo-base-color);
}
vaadin-text-field::part(label){
  --vaadin-input-field-focused-label-color:black;
}
vaadin-date-picker::part(input-field) {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: var(--lumo-base-color);
}
vaadin-date-picker::part(label){
  --vaadin-input-field-focused-label-color:black;
}
vaadin-combo-box::part(input-field) {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: var(--lumo-base-color);
}
vaadin-combo-box::part(label){
  --vaadin-input-field-focused-label-color:black;
}

h1{
  font-weight: 1000;
  letter-spacing: 10px;
  font-size: 3rem;
}

h2{
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 1,7rem;
}


